global
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

# Sección de estadísticas
listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
    stats auth admin:admin123

frontend http_front
    bind *:80
    mode http
    default_backend http_back

backend http_back
    mode http
    balance roundrobin
    # Servidores de producción
    server web1 240.15.0.100:80 check
    server web2 240.15.0.146:80 check
    # Servidores de respaldo (backup):
    server backup1 240.15.0.182:80 check backup
    server backup2 240.15.0.8:80 check backup

    # Página de error personalizada si ningún servidor está disponible
    errorfile 503 /etc/haproxy/errors/503custom.http